@font-face {
  font-family: aldoapache;
  src: url(assets/fonts/AldotheApache.ttf);
}

:root {
    --primary-background: rgb(0, 0, 0);
    --primary-text: rgb(255, 255, 255);

    --font-huge: 90px;
    --font-big: 70px;
    --font-medium: 50px;
    --font-small: 30px;

    --zindex-front: 1;
    --zindex-medium: 0;
    --zindex-back: -1;

}


* {
    padding: 0px;
    margin: 0px;

    font-family: aldoapache;
}

.font-huge {
    font-size: var(--font-huge);
}

.font-big {
    font-size: var(--font-big);
}

.font-medium {
    font-size: var(--font-medium);
}

.font-small {
    font-size: var(--font-small);
}


html {
    scroll-snap-type: y mandatory;
}

body {
    background-color: var(--primary-background);
    color: var(--primary-text);
}


.page {
    width: 100%;
    height: 100vh;
    
    scroll-snap-align: center;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.page-header {
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--primary-text);
    color: var(--primary-background);
}


.page-header section {
    padding: 20px 20px;
    margin: 0px auto;
}

button {
    background-color: var(--primary-text);
    border: 5px solid black;

    width: 5em;
    height: 5em;

    display: flex;
    align-content: center;
    justify-content: center;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    outline: black solid 5px;
    outline-offset: -5px;
}

button:hover {
    transform: rotate(-10deg) scale(1.2);
    outline-offset: 5px;
    background-color: var(--primary-background);
}

button:hover img {
    filter: invert(100%);
}


button img {
    filter: invert(0%);

    justify-self: center;
    align-self: center;
    
    width: 70%;
    height: 70%;
}

.float {
    animation: float-up 5s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transform-origin: center;
}

@keyframes float-up {
    0% {
        transform: translate(0, 0.1em);
    }

    50% {
        transform: translate(0, -0.1em);
    }

    100% {
        transform: translate(0, 0.1em);
    }
}

.row {
    display: flex;
    flex-direction: row;
    
    gap: 40px;
}

.ribbon-holder {
    width: 100%; 
    height: 100%; 

    overflow: hidden; 
    position: absolute;

    pointer-events: none;

    z-index: var(--zindex-front);
}

.line-ribbon {
    background: #ffffff;
    background: repeating-linear-gradient(90deg, #ffffff 0px 20px, #000 20px 80px);
    width: 120%;
    height: 20px;

    position: absolute;
    animation: line-ribbon-scroll 5s linear infinite;

}

@keyframes line-ribbon-scroll {
    from {
        background-position-x: -80px;
    }

    to {
        background-position-x: -160px;
    }
}

.bottom {
    bottom: 0%;
}

.top {
    top: 0%;
}

.corner-ribbon {
    position: absolute;

    font-size: var(--font-medium);

    width: 100%;
    height: 500px;

    background: var(--primary-background);
    color: var(--primary-text);

    text-align: center;
    font-weight: bold;
    white-space: nowrap;

    border: 5px solid white;
    outline: 5px solid black;
}

.ribbon-bottom {
    transform: rotate(-32deg);

    left: 50%;
    top: 80%;
}

.ribbon-top {
    transform: rotate(-212deg);

    right: 50%;
    bottom: 80%;
}

.corner-ribbon span {
    display: inline-block;
    animation: ribbon-scroll 10s linear infinite;
}

@keyframes ribbon-scroll {
    from {
        transform: translate(0%,0);
    }

    to {
        transform: translate(-100%, 0);
    }
}




.scroll-indicator {
    position: fixed;
    left: 10px;
    z-index: 20;
}

.scroll-indicator img {
    position: fixed;
    animation: scroll-indicator-idle 3s linear infinite;
}

@keyframes scroll-indicator-idle {
    from {
        transform: translate(0, -100vh);
    }

    to {
        transform: translate(0, 100vh);
    }
}