@font-face {
  font-family: aldoapache;
  src: url(/assets/fonts/AldotheApache.ttf);
}

:root {
    --primary-background: rgb(0, 0, 0);
    --primary-text: rgb(255, 255, 255);

    --font-huge: 90px;
    --font-big: 70px;
    --font-medium: 50px;
    --font-small: 30px;
    --font-smaller: 20px;

    --zindex-front: 1;
    --zindex-medium: 0;
    --zindex-back: -1;

}


* {

    font-family: aldoapache;
}

p {
    padding: 0;
    margin: 0;
}

.font-huge {
    font-size: var(--font-huge);
}

.font-big {
    font-size: var(--font-big);
}

.font-medium {
    font-size: var(--font-medium);
}

.font-small {
    font-size: var(--font-small);
}

.font-smaller {
    font-size: var(--font-smaller);
}

.text-flavor {
    padding: 20px 5px;
}

.left {
    position: absolute;
    margin-left: 20px;
    left: 100%;
}

.text-left {
    text-align: left;
} 

.text-right {
    text-align: right;
} 

.line {
    border-left: 5px black solid;
}

p {
    line-height: 0.9em;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    background-color: var(--primary-background);
    color: var(--primary-text);
    margin: 0;
}

.invert {
    filter: invert();
}

.page {
    min-height: 100lvh;
    width: 100%;
    
    scroll-snap-align: center;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.page-about {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page-header {
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--primary-text);
    color: var(--primary-background);
}

.button-square {
    background-color: var(--primary-text);

    border: 5px solid black;

    width: 5em;
    height: 5em;

    display: flex;
    align-content: center;
    justify-content: center;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    outline: black solid 5px;
    outline-offset: -5px;
}

.button-square:hover {
    transform: rotate(-10deg) scale(1.2);
    outline-offset: 5px;
    background-color: var(--primary-background);
}

.button-square:hover img {
    filter: invert(100%);
}


.button-square img {
    filter: invert(0%);

    justify-self: center;
    align-self: center;
    
    width: 70%;
    height: 70%;
}

.button-rect {
    background-color: var(--primary-background);
    color: var(--primary-text);

    border: 5px solid rgb(0, 0, 0);

    padding: 0em 1em;
    height: 5em;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    outline: var(--primary-text) solid 5px;
    outline-offset: -5px;
}

.button-rect.active {
    filter: invert();

    outline-offset: 5px;

    outline: var(--primary-background) dashed 5px;
    padding: 0em 2em;
}

.button-rect span{
    vertical-align: middle;
    font-size: var(--font-small);
}

.button-rect:hover {
    filter: invert();

    padding: 0em 2em;
    outline-offset: 5px;
    outline-color: var(--primary-background);
}

.center-pad {
    padding: 20px 20px;
    margin: 0px 20px;
}

.mobile-hide {
    display: block;
}

.row {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    align-self: center;
    
    gap: 40px;
}

.ribbon-holder {
    width: 100%; 
    height: 100%; 

    overflow: hidden; 
    position: absolute;

    pointer-events: none;

    z-index: var(--zindex-front);
}

.line-ribbon {
    background: #ffffff00;
    background: repeating-linear-gradient(90deg, #ffffff00 0px 20px, #000 20px 80px);
    width: 120%;
    height: 20px;

    position: absolute;
    animation: line-ribbon-scroll 5s linear infinite;

}

.line-ribbon-scroll-delay {
    animation-delay: -2.5s;
}

@keyframes line-ribbon-scroll {
    from {
        background-position-x: -80px;
    }

    to {
        background-position-x: -160px;
    }
}

.border {
    border-left: 5px dashed var(--primary-text);
    padding: 30px;
}

.absolute {
    position: absolute;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.corner-ribbon {
    position: absolute;

    font-size: var(--font-medium);

    width: 100%;
    height: 500px;

    background: var(--primary-background);
    color: var(--primary-text);

    text-align: center;
    font-weight: bold;
    white-space: nowrap;

    border: 5px solid white;
    outline: 5px solid black;

}

.ribbon-bottom {
    transform: rotate(-32deg);

    left: 50%;
    top: 80%;
}

.ribbon-top {
    transform: rotate(-212deg);

    right: 50%;
    bottom: 80%;
}

.corner-ribbon {
    overflow: hidden;
}

.corner-ribbon div {
    display: inline-block;
    animation: ribbon-scroll 15s linear infinite;
    will-change: transform;
    animation-delay: 0s;
}

@keyframes ribbon-scroll {
    from {
        transform: translate3d(0,0,0);
    }

    to {
        transform: translate3d(-50%,0,0);
    }
}


.scroll-indicator {
    position: fixed;
    left: 10px;
    z-index: 20;
}

.scroll-indicator img {
    position: fixed;
    animation: scroll-indicator-idle 3s linear infinite;
}

@keyframes scroll-indicator-idle {
    from {
        transform: translate3d(0, calc(0vh - 100%), 0);
    }

    to {
        transform: translate3d(0, 100vh, 0);
    }
}


@media only screen and (max-width: 900px) {
    .scroll-indicator {
        display: none;
    }

    .corner-ribbon {
        display: none;
    }

    .mobile-hide {
        display: none;
    }
}
